<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/e5e17dceab.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="logo">
            <img src="/img/logo-mercado-liebre.svg" alt="">
        </div>

        <div class="searchBar">
            <input type="text" maxlength="100" placeholder="Buscar productos,marcas">  <i class="fas fa-search"></i>
           
        </div>
        <ul>
           <p> <i class="fa-solid fa-hand-holding-dollar"></i>  Comprá en cuotas y sin tarjeta de crédito</p>

        </ul>
        <nav>
            <ul>
                <li><a href="/ofertas">Ofertas</a>
                </li>
                <li><a href="/tiendasoficicales">Tiendas Oficiales</a>
                </li>
                <li><a href="/vender">Vender</a></li>
                <li><a href="/ayuda">Ayuda</a></li>
            </ul>
            
            <ul>   
                <li><a href="/creatucuenta">Creá tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
                <li><a href="/ingresa">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="/miscompras">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>

        </nav>
        <div class="menu">
             <i class="fas fa-bars"></i> <!-- menu hamburguesa -->
        </div>
        
    </header>
    <main>
        <div class="banner">
            <img src="/img/img-home-banner.jpg" alt="bannerhome">
        </div>
       
        <section>
            <h2>Sección: Basado en tu última visita</h2>
            <article>
                <img class="producto" src="/img/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
                <div class="contenedor">
                    <div class="camion">
                        <i class="fas fa-truck"></i>  
                    </div>
                    <p class="precio">$6.770</p>
                    <p class="descuento"> 40% OFF</p>
                    <h4 class="descripcion">Cafetera Moulinex</h4>
                </div>
            </article>

            <article>
                <img class="producto" src="/img/img-macbook-pro-2019.jpg" alt="macbook pro">
                <div class="contenedor">
                    <div class="camion">
                        <i class="fas fa-truck"></i>  
                    </div>
                    <p class="precio">$230.000</p>
                    <p class="descuento"> 20% OFF</p>
                    <h4 class="descripcion">MacBook Pro 2019</h4>
                </div>
            </article>

            <article>
                <img class="producto" src="/img/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10">
                <div class="contenedor">
                    <div class="camion">
                        <i class="fas fa-truck"></i>  
                    </div>
                    <p class="precio">$70.500</p>
                    <p class="descuento"> 10% OFF</p>
                    <h4 class="descripcion">Samsung Galaxy S10</h4>
                </div>
            </article>

            <article>
                <img class="producto" src="/img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43'' ">
                <div class="contenedor">
                    <div class="camion">
                        <i class="fas fa-truck"></i>  
                    </div>
                    <p class="precio">$23.000</p>
                    <p class="descuento"> 5% OFF</p>
                    <h4 class="descripcion">SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>
       
        <section>
            <h2>Sección de Ofertas</h2>
            <article>
                <img class="producto" src="/img/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
                <div class="contenedor">
                    <div class="camion">
                        <i class="fas fa-truck"></i>  
                    </div>
                    <p class="precio">$6.770</p>
                    <p class="descuento"> 40% OFF</p>
                    <h4 class="descripcion">Cafetera Moulinex</h4>
                </div>
            </article>

            <article>
                <img class="producto" src="/img/img-macbook-pro-2019.jpg" alt="macbook pro">
                <div class="contenedor">
                    <div class="camion">
                        <i class="fas fa-truck"></i>  
                    </div>
                    <p class="precio">$230.000</p>
                    <p class="descuento"> 20% OFF</p>
                    <h4 class="descripcion">MacBook Pro 2019</h4>
                </div>
            </article>

            <article>
                <img class="producto" src="/img/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10">
                <div class="contenedor">
                    <div class="camion">
                        <i class="fas fa-truck"></i>  
                    </div>
                    <p class="precio">$70.500</p>
                    <p class="descuento"> 10% OFF</p>
                    <h4 class="descripcion">Samsung Galaxy S10</h4>
                </div>
            </article>

            <article>
                <img class="producto" src="/img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43'' ">
                <div class="contenedor">
                    <div class="camion">
                        <i class="fas fa-truck"></i>  
                    </div>
                    <p class="precio">$23.000</p>
                    <p class="descuento"> 5% OFF</p>
                    <h4 class="descripcion">SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <ul>
            <i class="fa-regular fa-credit-card" id="icons"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con MercadoLiebreCash tenés cuotas sin <br>
            interés con tarjetab o efectivo en puntos de <br>
            pago.¡ Y siempre es seguro</p>
        </ul>
        <ul>
            <i class="fa-solid fa-gift" id="icons"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre <br>
            tenés envíos gratis en miles de productos.Es <br> un beneficio de Mercado Puntos.</p>
        </ul>
        <ul>
            <i class="fa-solid fa-user-shield" id="icons"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre <br>
            no hay nada que no puedas hacer porque estás <br> siempre protegid@. </p>
        </ul>
        <ul class="copyright">
         
           <p>Copyright 1999-2020 MercadoLiebre S.R.L</p> 
        </ul>

    </footer>
</body>

</html>