header{
    background-color: var(--colorAmarillo);
    padding: 20px 0;
}
header .logo,header .searchBar{
    margin: 0px 20px ;
}
header .logo img{
    width: 50%;
}
header .searchBar{
    margin-top: 20px;
} 
header .searchBar i{
    padding: 1px;
    background-color:white; 
    border: 1px solid var(--colorGrisOscuro);
    border-radius: 4px; 
} 
header  p{
    margin: 24px 0;
    text-align: center;
}
header nav{
    display: none;
}
header ul{
    margin: 0 0 20px;
    font-family: var(--FuentePrincipal);
    text-align: left;
    font-size: 12px;
}
header .menu{
    text-align: center;
    
}
header .menu i{
    background-color: var(--colorCeleste);
    color: white;
    padding: 10px;
    border-radius: 6px;
    font-size: 16px;
}

header p{
    text-align: center;
    font-size: 12px;
    font-family: var(--FuentePrincipal);
}

@media (min-width:461px){
    header nav{
        display: block;
    }
    header .menu{
        display: none;
    }

    main section article h4{
        display:block;
    }
    
}

@media (min-width:769px){

}